supply-chain-ml/data/raw/npm_vulnerable_metadata_raw.json
supply-chain-ml/data/raw/npm_vulnerable_metadata_raw.tmp
supply-chain-ml/data/raw/npm_vulnerable_metadata_raw_.tmp
supply-chain-ml/data/raw/npm_vulnerable_metadata_raw__.tmp
supply-chain-ml/data/raw/osv_npm_all.zip
